﻿@model inSpark.Models.ViewModels.ApplicantDetailsViewModel
@{
    ViewBag.Title = "ApplicantDetails";
    int age;
    DateTime birthDate= Convert.ToDateTime(@Model.Applicant.DateOfBirth);
    age = DateTime.Now.Year - birthDate.Year;
    if (DateTime.Now.DayOfYear < birthDate.DayOfYear)
    {
        age--;
    }
    int adminResponse1 = (int)inSpark.Infrastructure.Services.AdminApplicationResponse.Accepted;
    int adminResponse2 = (int)inSpark.Infrastructure.Services.AdminApplicationResponse.Rejected;

}

<h1 class="text-center">Applicant Details</h1>

<div id="applicant-details-section">
    <div class="applicant-details">
        <div class="applicant-details-img div-profile-img" >
            <img src="@Model.Applicant.ProfilePicturePath" alt="Profilepicture">
        </div>

        <div>
            <h3>Name: @Model.Applicant.FullName</h3>
            <h3>Age: @age</h3>
            <h3>Sex: @Model.Applicant.Gender</h3>
            <h3>Address: @Model.Applicant.Address</h3>
            <h3>Email: @Model.Applicant.Email</h3>
        </div>

    </div>
    <div class="admin-response">

        <a href="@Model.Applicant.ResumePath" target="_blank">View Applicant Resume</a>
        @Html.ActionLink("Accept Applicant","RespondToApplication","Admin", new { applicantId=Model.Applicant.Id, jobId=Model.JobId, adminResponse= adminResponse1 },null)
        @Html.ActionLink("Reject Applicant","RespondToApplication","Admin", new { applicantId = Model.Applicant.Id, jobId = Model.JobId, adminResponse = adminResponse2 },htmlAttributes:new { id = "decline-applicant" })
        
   

    </div>
</div>

