﻿@media (min-width:900px) {

    .banner-section {
        width: 100%;
        min-height: 100vh;
        margin: 0px;
        z-index: -1;
    }

    #banner-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .banner-section h1 {
        font-size: 70px;
        margin-top: -60vh;
        padding-left: 50%;
    }

    .mid-section {
        display: flex;
    }

    .growth-card {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

        .growth-card p {
            margin: 5px 30px;
            font-size: larger;
        }

        .growth-card h1 {
            margin: 0px;
        }

    #img-glasgow {
        max-width: 50%;
    }

    .jobs-header {
        margin-top: 0px;
    }

    #open-positions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #job-card {
        width: 25%;
        box-sizing: border-box;
    }
}
