﻿
.div-padded{
    padding-left:20px;
    padding-right:20px;
    margin-top:20px;
    diplay:block;
}

.table-fullpage {
    min-height: calc(70vh - 150px);
}

.page-title{
    margin-top:0px;
    border-top:2px solid black;
}

.div-padded-50px{
    padding-left:50px;
    padding-right:50px;
}

#margin-auto{
    margin:auto;
    width:70vw;
}

text-area{
    resize:none;
}

.div-profile-img{
    width: 200px;
    height:200px;
    margin:auto;
}

.div-profile-img img{
    height:100%;
    width:100%;
    object-fit:cover;
}

#job-details{
    margin:10px 40px;
    border: 2px solid gray;
}