﻿
@media only screen and (max-width:500px) {
    body {
        max-width: 100vw;
    }

    .pg-container {
        padding: 0px 10px;
    }

    #nav-off-switch {
        display: none;
    }

    #logo {
        width: 40%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-link {
        display: none;
    }

    #hidden-nav {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        border-bottom: 2px solid #2c2b2b;
        padding-bottom: 10px;
    }

        #hidden-nav a {
            text-decoration: none;
            color: black;
            margin-top: 5px;
        }

            #hidden-nav a:hover {
                color: blue;
            }

    #hidden-nav {
        display: none;
    }

    .main-hero img {
        min-height: 80%;
        max-width: 100%;
        margin: auto;
        margin-top: 20px;
    }

    .main {
        margin: 20px 10px;
    }

    .main-bd p {
        width: 100%;
    }

    #services {
        margin-top: 5%;
        background-color: #fafafa;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        text-align: center;
        max-width: 100vw;
    }


    .services-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service {
        display: inline;
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    #approach {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }

    #approach-img {
        display: none;
    }


    #approach-bd {
        width: 100%;
        padding-top: 20px;
        margin: auto;
    }

        #approach-bd p {
            font-size: larger;
        }


    #why {
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .why-img {
        max-width: 100%;
    }

        .why-img img {
            max-width: 100%;
        }

    footer {
        height: 150px;
        background-color: rgb(2, 2, 37);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .ft-left {
        margin-right: 0px;
    }

        .ft-left a {
            text-decoration: none;
            margin-right: 13px;
            color: white;
        }

    .ft-right {
        margin-left: 0px;
        min-width: 150px;
        display: flex;
        justify-content: space-evenly;
    }

    #clients {
        display: flex;
        flex-direction: column-reverse;
    }

    .clients-img img {
        display: block;
        max-width: 95%;
        margin: auto;
    }

    .clients-bd {
        padding: 20px 10px;
    }

        .clients-bd p {
            font-size: larger;
        }

    .contact-info {
        display: flex;
        padding: 0px 10px;
    }

        .contact-info p {
            padding-left: 15px;
        }

    .contact-form {
        background-color: #fafafa;
        text-align: center;
        padding: 20px 0px;
    }

        .contact-form input {
            display: block;
            margin: auto;
            padding: 5px 0px;
        }
}
